<mat-form-field>
    <mat-label>Game</mat-label>
    <mat-select (selectionChange)="valueChange($event.value)" class="game-selector">
      <mat-option value="6">All</mat-option>
      <mat-option value="1">Super Smash Bros 64</mat-option>
      <mat-option value="2">Super Smash Bros Melee</mat-option>
      <mat-option value="3">Super Smash Bros Brawl</mat-option>
      <mat-option value="4">Smash Smash Bros For Wii U</mat-option>
      <mat-option value="5">Smash Smash Bros Ultimate</mat-option>
    </mat-select>
</mat-form-field>