.mat-toolbar {
  * {
    margin-right: 0.35em;
  }

  a {
    color: white;
  }
  .resource-row {
    width: 100%;
    .icons {
      float: right;
    }
  }
}

.center-title {
  text-align: center;
  width: 100%;
}
