<mat-toolbar color="primary">
  <mat-toolbar-row>
  <span ngClass.lt-md="center-title" i18n>SmashDeveloper</span>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="resource-row" fxShow="true" fxHide.lt-md="true">
    <a routerLink="/projects" routerLinkActive="active" i18n>Projects</a>
    <a routerLink="/resources" routerLinkActive="active" i18n>Resources</a>
    <span class="icons">
      <a href="https://twitter.com/BortTheBeaver">
      <fa-icon size="lg"[icon]="['fab', 'twitter']"></fa-icon>
    </a>
    <a href="https://github.com/FightCore/smashdevelopergg">
      <fa-icon size="lg" [icon]="['fab', 'github']"></fa-icon>
    </a>
    <a href="https://ko-fi.com/bartdebever">
      <fa-icon size="lg" [icon]="['fas', 'coffee']"></fa-icon>
    </a></span>
  </div>
  </mat-toolbar-row>
  <mat-toolbar-row fxShow="true" fxHide.gt-sm="true">
      <a routerLink="/projects" routerLinkActive="active" i18n>Projects</a>
      <a routerLink="/resources" routerLinkActive="active" i18n>Resources</a>
      <span class="fill-empty"></span>
      <span><a href="https://twitter.com/BortTheBeaver">
        <fa-icon size="lg"[icon]="['fab', 'twitter']"></fa-icon>
      </a>
      <a href="https://github.com/FightCore/smashdevelopergg">
        <fa-icon size="lg" [icon]="['fab', 'github']"></fa-icon>
      </a>
      <a href="https://ko-fi.com/bartdebever">
        <fa-icon size="lg" [icon]="['fas', 'coffee']"></fa-icon>
      </a></span>
  </mat-toolbar-row>
</mat-toolbar>