<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Projects</h1>
    <span class="fill-empty"></span>
    <app-search-bar (searchEvent)="search($event)"></app-search-bar>
  </mat-toolbar-row>
</mat-toolbar>
<div class="project-display">
  <div *ngIf="projects && projects.length > 0; else noProjects" class="row project-rows">
    <div *ngFor="let project of projects" class="col-lg-4">
      <app-project-list-item
        class="project-item"
        [project]="project"
      ></app-project-list-item>
    </div>
  </div>
  <ng-template #noProjects>
    <h2 class="no-projects-warning" i18n>
      <fa-icon class="no-projects-icon" icon="times"></fa-icon> No projects found for your search.
    </h2>
  </ng-template>
</div>
