<mat-toolbar color="primary">
  <mat-toolbar-row fxShow="true" fxHide.lt-md="true">
    <h1 ngClass.lt-md="center-title">Projects</h1>
    <div>
      <app-game-selector
        class="form-component game-selector"
        (onValueChange)="filterOnGame($event)"
      >
      </app-game-selector>
      <app-search-bar
        class="form-component"
        (searchEvent)="search($event)"
      ></app-search-bar>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="center-form" fxShow="true" fxHide.gt-sm="true">
    <app-game-selector
      class="form-component game-selector"
      (onValueChange)="filterOnGame($event)"
    >
    </app-game-selector>
  </mat-toolbar-row>
  <mat-toolbar-row class="center-form" fxShow="true" fxHide.gt-sm="true">
    <app-search-bar
      class="form-component"
      (searchEvent)="search($event)"
    ></app-search-bar>
  </mat-toolbar-row>
</mat-toolbar>
<div class="project-display">
  <div
    *ngIf="projects && projects.length > 0; else noProjects"
    class="row project-rows"
  >
    <div *ngFor="let project of projects" class="col-lg-4">
      <app-project-list-item
        class="project-item"
        [project]="project"
      ></app-project-list-item>
    </div>
  </div>
  <ng-template #noProjects>
    <h2 class="no-projects-warning" i18n>
      <fa-icon class="no-projects-icon" icon="times"></fa-icon> No projects
      found for your search.
    </h2>
  </ng-template>
</div>
