.project-card {
    height: calc(100% - 2em);
    .mat-card-avatar {
        max-width: 5em;
        max-height: 5em;
    }
    .project-content {
        height: calc(100% - 9em);
    }
    .game-name {
        float: right;
    }
}
